body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header {width: 100%;text-align: center;}

main {
	width: 90%;
	max-width: 600px;
	color: #888;
}
@media screen and (max-width: 450px) {
	main {width: 100%;}
}
@media screen and (min-width: 900px) {
	main {width: 50%;}	
}

main .tabs-container {display: flex;}
main .tabs-container button {
	width: calc(100% / 3);
	padding-top: .5rem;
	padding-bottom: .5rem;
	background: none;
	border: 1px solid currentColor;
	color: currentColor;
	box-sizing: border-box;
}
main .tabs-container button:not(:last-child) {
	border-right: none;
}
main .tabs-container button.active {
	linear-gradient(to bottom right, #33ccff 0%, #ff3399 100%);
	font-size:20px;
}

main .content {
	display: flex;
	border: 1px solid currentColor;
	border-top: none;
}
main section {
	width: 50%;
	padding: 1rem;
}
main section:first-child {
	border-right: 1px solid currentColor;
}

main section select {
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	color: currentColor;
}
main #from_input, main #to_output {
	display: block;
	width: 100%;height: 2rem;
	padding: 1rem;
	box-sizing: border-box;
	border: 1px solid currentColor;
	color: currentColor;
}
